$width-menu: 50px;
$width-nav: 260px;
$width-list: 310px;

:host {
  display: block;
  height: 100%;
}

#importFile {
  display: none;
}

#contents-root {
  display: block;
  height: 100%;

  // 共通定義
  .base {
    display: grid;
    overflow: hidden;
    height: 100%;

    .panel {
      min-width: 0;
      overflow-y: auto;

      &.menu {
        border-right: 1px solid var(--wa-color-neutral-50);
      }
    }
  }

  // メインコンテンツ
  .main-content {
    grid-template-columns: $width-menu $width-nav $width-list 1fr 1fr;
    transition: grid-template-columns 0.4s ease-in-out;

    &.thin {
      grid-template-columns: $width-menu 0 0 1fr 1fr;

      .nav,
      .list {
        border-right-color: transparent;
      }
    }

    .panel {
      &.nav {
        display: grid;
        grid-template-rows: auto 1fr;
        overflow: hidden;
        border-right: 1px solid var(--wa-color-neutral-50);
        transition: border-color 0.4s;

        .label {
          overflow-y: auto;
        }
      }

      &.journal {
        border-right: 0;
      }
    }
  }

  // ダッシュボード
  .dashboard-content {
    grid-template-columns: $width-menu 1fr;

    sn-dashboard-container {
      min-height: 0;
    }
  }

  // ノートブック
  .notebook-content {
    grid-template-columns: $width-menu 1fr;

    sn-notebook-container {
      min-height: 0;
    }
  }

  // 設定画面
  .config-content {
    grid-template-columns: $width-menu 1fr;
  }
}
