#contents-root {
  header {
    color: white;

    display: flex;
    align-items: center;
    padding-block: var(--wa-space-2xs);
    margin-block-end: var(--wa-space-3xs);

    span {
      font-size: var(--wa-font-size-s);
      margin-inline-end: auto;
    }

    &:hover {
      color: var(--wa-color-neutral-90);
    }
  }
}
