#contents-root {
  cursor: pointer;
  display: flex;
  gap: var(--wa-space-xs);

  position: relative;

  background: var(--wa-color-neutral-20);
  color: var(--wa-color-neutral-95);

  padding-block: var(--wa-space-xs);
  padding-inline: var(--wa-space-xs);
  margin-block-end: var(--wa-space-xs);

  border-radius: var(--wa-border-radius-m);
  border: 1px solid var(--wa-color-neutral-50);

  &.overdue {
    .due {
      wa-icon {
        color: var(--wa-color-danger-60);
      }
    }
  }
  &.upcoming {
    .due {
      wa-icon {
        color: var(--wa-color-yellow-60);
      }
    }
  }

  &.selected {
    background: var(--wa-color-neutral-80);
    color: var(--wa-color-neutral-5);
  }
  &:hover {
    background: var(--wa-color-neutral-90);
    color: var(--wa-color-neutral-5);
  }

  .status-icon {
    display: flex;
    padding-block-start: 2.5px;
    font-size: var(--wa-font-size-m);

    &.pending {
      color: var(--wa-color-neutral-5);
    }
    &.progress {
      color: var(--wa-color-brand-50);
    }
    &.done {
      color: var(--wa-color-success-50);
    }
  }

  .task-data {
    display: flex;

    flex-direction: column;
    gap: var(--wa-space-2xs);

    width: 100%;
    overflow: hidden;

    font-size: var(--wa-font-size-s);

    .name {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      overflow: hidden;

      min-height: 25px;
      min-height: 25px;
    }
    .footer {
      display: flex;
      align-items: center;

      width: 100%; /* 親の幅いっぱいに広げる */
      font-size: var(--wa-font-size-xs);

      wa-icon {
        font-size: var(--wa-font-size-m);
        margin-block-start: var(--wa-space-3xs);
      }

      .bookmark {
        wa-icon {
          &:hover {
            color: var(--wa-color-brand-60);
          }
        }

        &.active {
          wa-icon {
            color: var(--wa-color-brand-60);
            &:hover {
              color: var(--wa-color-brand-50);
            }
          }
        }
      }

      .due {
        flex-shrink: 0;

        min-width: 60px;
        display: flex;
        align-items: center; /* 垂直中央揃え */
        gap: var(--wa-space-3xs); /* テキストとアイコンの間隔 */
        white-space: nowrap; /* テキストの折り返しを禁止 */
      }

      wa-divider {
        --spacing: var(--wa-font-size-2xs);
      }

      .label {
        display: block;
        white-space: nowrap; /* 絶対に改行させない */
        overflow: hidden; /* はみ出た分を隠す */
        text-overflow: ellipsis; /* 三点リーダーを表示 */

        flex: 1;
        min-width: 0;
      }
    }
  }
}
