:host,
*,
*::before,
*::after {
  box-sizing: border-box;
}

wa-input {
  &::part(base),
  &::part(input) {
    outline: none;
  }
}

wa-textarea {
  &::part(base),
  &::part(control),
  &::part(textarea) {
    outline: none;
  }
}

wa-select {
  &::part(combobox),
  &::part(form-control),
  &::part(form-control-input) {
    outline: none;
  }
}

#contents-root {
  height: 100%;
  padding: var(--wa-space-s);
  padding-block-end: 0;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  background: var(--wa-color-neutral-95);

  .header {
    flex: 0 0 auto;
    display: flex;
    padding-inline-end: var(--wa-space-m);

    align-items: center;

    .end {
      align-self: flex-end;
      margin-inline-start: auto;
    }
  }

  .contents {
    flex: 1;
    overflow: hidden;

    wa-tab-group {
      height: 100%;
      display: flex;
      flex-direction: column;

      &::part(base) {
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      &::part(body) {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }

      wa-tab {
        &::part(base) {
          font-size: var(--wa-font-size-s);
        }
      }

      wa-tab-panel {
        height: 100%;

        --padding: var(--wa-space-xs);

        &::part(base) {
          height: 100%;
          padding-block-end: var(--wa-space-xs);
        }
      }
    }
  }
}
