$line-height: 1.8em;

.contents-root {
  display: flex;
  gap: var(--wa-space-xs);
  align-items: center;
  width: 100%;
  min-width: 0;

  height: $line-height;
  margin-block: var(--wa-space-3xs);
  padding-inline: var(--wa-space-xs);

  background-color: transparent;
  border-radius: var(--wa-border-radius-m);
  cursor: pointer;

  &:hover {
    background-color: var(--wa-color-neutral-10);
  }

  .label {
    flex: 1;
    min-width: 0;

    font-size: var(--wa-font-size-s);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.selected {
    .label {
      color: var(--wa-color-brand-70);

      wa-icon {
        color: var(--wa-color-brand-70);
      }
    }
  }

  .pin {
    transform: rotate(45deg);
    color: var(--wa-color-neutral-50);

    &:hover {
      color: var(--wa-color-yellow-90);
    }
  }

  &.pinned {
    .pin {
      color: var(--wa-color-yellow-80);
    }
  }
}
