header {
  padding-inline-start: var(--wa-space-s);
  margin-block-end: var(--wa-space-xs);

  font-weight: bold;
  border-inline-start: 6px solid var(--wa-color-indigo-50);
}

main {
  padding-inline-start: var(--wa-space-s);
  margin-block-end: var(--wa-space-xs);
}

footer {
  padding-inline-start: var(--wa-space-s);

  &.result {
    font-size: var(--wa-font-size-s);
  }
}
