#contents-root {
  width: 100%;
  min-width: 0;

  display: grid;
  gap: var(--wa-space-2xs);

  grid-template-areas:
    "div"
    "name"
    "tel";

  @media (min-width: 1300px) {
    grid-template-areas:
      "div div"
      "name tel";
  }

  #div {
    grid-area: div;
  }
  #name {
    grid-area: name;
  }
  #tel {
    grid-area: tel;
  }
}
