:host,
*,
*::before,
*::after {
  box-sizing: border-box;
}

$height-header: 30px;
$height-footer: 25px;

#contents-root {
  display: grid;
  grid-template-rows: $height-header 1fr $height-footer;
  height: 100vh;

  header {
    background: var(--wa-color-neutral-30);

    display: flex;
    gap: var(--wa-space-2xs);
    align-items: center;

    .app-icon {
      margin-block-start: var(--wa-space-3xs);
    }

    padding-block: var(--wa-space-s);
    padding-inline: var(--wa-space-xs);

    .menu-header {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding-inline: var(--wa-space-xs);

      color: var(--wa-color-neutral-95);
      border-radius: var(--wa-border-radius-s);

      span {
        font-size: var(--wa-font-size-s);
      }

      &:hover {
        background-color: var(--wa-color-neutral-40);
      }
    }

    wa-dropdown-item {
      &::part(label),
      &::part(details) {
        font-size: var(--wa-font-size-s);
      }
    }
  }

  main {
    height: 100%;
    overflow: hidden;

    .app {
      display: block;
      height: 100%;
    }
  }

  footer {
    background: var(--wa-color-neutral-30);
    display: flex;
    gap: 5px;
    align-items: center;

    padding-inline: var(--wa-space-xs);

    .footer {
      flex: 1;

      color: var(--wa-color-neutral-95);
      font-size: var(--wa-font-size-xs);
    }

    .app-name {
      display: flex;
      gap: var(--wa-space-2xs);
      align-items: center;
      justify-content: center;
    }
  }
}
