.container {
  display: flex;
  align-items: center;

  .title {
    margin-inline-end: var(--wa-space-m);
    font-size: var(--wa-font-size-l);
    font-weight: bold;
  }

  #task-fiscal-year {
    width: 150px;
  }
}
