@use "../../../_shared/mixins";

.container {
  display: flex;
  gap: var(--wa-space-s);
  flex-direction: column;
  padding: var(--wa-space-s);
  height: 100%;

  background-color: var(--wa-color-neutral-95);

  .main {
    display: flex;
    gap: var(--wa-space-s);
    flex-direction: column;
    padding-block-end: var(--wa-space-s);

    scrollbar-gutter: stable;
    min-height: 0;

    @include mixins.scrollable(
      var(--wa-color-neutral-90),
      var(--wa-color-neutral-70),
      var(--wa-color-neutral-70)
    );

    &:hover {
      --sb-thumb-color: var(--wa-color-neutral-20);
    }

    .row {
      margin-block-end: var(--wa-space-s);

      &.flex {
        display: flex;
        gap: var(--wa-space-s);

        &.chart {
          sn-dashboard-chart-burnup {
            flex: 1;
          }
        }
      }
    }
  }
}
