@use "../../../_shared/mixins";

#contents-root {
  margin-block-start: var(--wa-space-m);

  padding-inline: var(--wa-space-2xs);
  padding-block-end: var(--wa-space-m);

  height: 100%;

  thin-markdown-editor {
    flex: 1;
  }

  scrollbar-gutter: stable;

  @include mixins.scrollable(
    var(--wa-color-neutral-30),
    var(--wa-color-neutral-40),
    var(--wa-color-neutral-40)
  );

  &:hover {
    --sb-thumb-color: var(--wa-color-neutral-20);
  }
}
