@use "../../../_shared/mixins";

#contents-root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--wa-space-xs);

  height: 100%;
  padding-inline-start: var(--wa-space-2xs);

  .main {
    flex-grow: 1;
    scrollbar-gutter: stable;
    @include mixins.scrollable(
      var(--wa-color-neutral-30),
      var(--wa-color-neutral-40),
      var(--wa-color-neutral-40)
    );

    &:hover {
      --sb-thumb-color: var(--wa-color-neutral-20);
    }
  }
}
