@use "../../../_shared/mixins";

#contents-root {
  height: 100%;

  padding-inline-start: var(--wa-space-2xs);

  .main {
    height: 100%;
    scrollbar-gutter: stable;
    @include mixins.scrollable(
      var(--wa-color-neutral-30),
      var(--wa-color-neutral-40),
      var(--wa-color-neutral-40)
    );

    &:hover {
      --sb-thumb-color: var(--wa-color-neutral-20);
    }
  }
}
