:host {
  display: block;
  height: 100%;
  width: 100%;
}

wa-input {
  &::part(base),
  &::part(end) {
    cursor: pointer;
  }
  wa-icon {
    cursor: pointer;
  }
}

.controller {
  display: flex;
  gap: var(--wa-space-2xs);
  align-items: center;

  margin-block-end: var(--wa-space-2xs);

  .ym {
    font-weight: bold;
    font-size: var(--wa-font-size-s);

    margin-inline-start: var(--wa-space-3xs);
    margin-inline-end: auto;
  }

  .btn {
    cursor: pointer;
    font-size: var(--wa-font-size-m);

    &:hover {
      color: var(--wa-color-neutral-50);
    }
  }
}

.container {
  display: grid;
  gap: var(--wa-space-3xs) var(--wa-space-s);
  grid-template-columns: repeat(7, 1fr);
  font-size: var(--wa-font-size-s);

  .cell {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    aspect-ratio: 1 / 1;
    min-width: 35px;

    &.holiday {
      color: var(--wa-color-pink-50);
    }

    &.day {
      cursor: pointer;
      &:hover {
        background-color: var(--wa-color-neutral-90);
      }
    }
    &.current {
      background-color: var(--wa-color-brand-90);
      &:hover {
        background-color: var(--wa-color-brand-90);
      }
    }
    &.notSysYm {
      color: var(--wa-color-neutral-60);
    }
  }

  animation: zoomIn 0.7s cubic-bezier(0.6, 1, 0.75, 1) forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
