$header-height: 50px;
$menu-width: 50px;
$nav-width: 260px;
$list-width: 300px;

$font-family: "BIZ UDGothic", "Meiryo UI", "Consolas", "Monaco", monospace;

$task-bg-color: #eafbf9;

$nav-header-height: 25px;
