:host {
  display: block;
}

.container {
  height: 100%;
  width: 100%;

  box-sizing: border-box;
  padding: var(--wa-space-m);

  border: 1px solid var(--wa-color-neutral-70);
  border-radius: var(--wa-border-radius-m);
  background-color: #fffffc;

  .title {
    margin-block-end: var(--wa-space-s);
    font-size: var(--wa-font-size-m);
    font-weight: bold;
  }
}
