@use "../../_shared/mixins";

$search-height: 40px;

:host {
  display: block;
  height: 100%;
}

#contents-root {
  display: grid;
  gap: var(--wa-space-s);
  grid-template-columns: 1fr 20px 1fr;
  overflow: hidden;

  height: 100%;
  box-sizing: border-box;
  padding-block-start: var(--wa-space-m);
  padding-block-end: var(--wa-space-s);
  padding-inline: var(--wa-space-s);

  background-color: var(--wa-color-neutral-95);

  .divider {
    display: flex;
    justify-content: center;

    margin-inline-end: var(--wa-space-2xs);

    wa-divider {
      --space: 1px;
    }
  }

  .base {
    display: grid;
    gap: var(--wa-space-xs);
    grid-template-rows: $search-height 1fr;
    overflow: hidden;

    height: 100%;

    .search {
      display: flex;
      gap: var(--wa-space-xs);
      align-items: center;

      ha-search-input {
        flex: 1;
      }
    }

    .viewer {
      height: 100%;
      scrollbar-gutter: stable;
      @include mixins.scrollable(
        var(--wa-color-neutral-30),
        var(--wa-color-neutral-40),
        var(--wa-color-neutral-40)
      );
      --sb-thumb-color: var(--wa-color-neutral-50);
      &:hover {
        --sb-thumb-color: var(--wa-color-neutral-20);
      }
    }
  }
}
