@use "../../_shared/mixins";

$title-height: 30px;
$search-height: 40px;

:host {
  display: block;
  height: 100%;
}

#contents-root {
  display: grid;
  gap: var(--wa-space-s);
  grid-template-columns: 1fr 1fr;
  overflow: hidden;

  height: 100%;
  box-sizing: border-box;
  padding: var(--wa-space-xs) var(--wa-space-s);

  background-color: var(--wa-color-neutral-95);

  .base {
    display: grid;
    gap: var(--wa-space-xs);
    grid-template-rows: $title-height $search-height 1fr;
    overflow: hidden;

    height: 100%;

    .header {
      display: flex;
      align-items: center;

      span {
        font-weight: bold;
      }
    }

    .search {
      display: flex;
      gap: var(--wa-space-xs);
      align-items: center;

      padding-inline-end: var(--wa-space-xs);

      ha-search-input {
        flex: 1;
      }
    }

    .viewer {
      height: 100%;
      scrollbar-gutter: stable;
      @include mixins.scrollable(
        var(--wa-color-neutral-30),
        var(--wa-color-neutral-40),
        var(--wa-color-neutral-40)
      );
      &:hover {
        --sb-thumb-color: var(--wa-color-neutral-20);
      }
    }
  }
}
