$line-height: 1.8em;

#contents-root {
  cursor: pointer;
  color: var(--wa-color-neutral-95);

  display: flex;
  gap: var(--wa-space-s);
  align-items: center;

  height: $line-height;
  margin-block: var(--wa-space-3xs);
  padding-inline: var(--wa-space-xs);

  border-radius: var(--wa-border-radius-m);

  &:hover {
    background-color: var(--wa-color-neutral-10);
  }

  .button-area {
    display: flex;
    gap: var(--wa-space-s);
    align-items: center;
    width: 100%;
    min-width: 0;

    .label {
      flex: 1;
      min-width: 0;

      font-size: var(--wa-font-size-s);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .icon {
      font-size: var(--wa-font-size-m);
      flex-shrink: 0;

      --animation-duration: 2s;
      --fade-opacity: 0.6;
    }
  }

  .end {
    margin-inline-start: auto;

    .target-task-dot {
      color: var(--wa-color-green-60);
    }

    wa-dropdown {
      wa-dropdown-item {
        font-size: var(--wa-font-size-s);

        wa-icon {
          font-size: var(--wa-font-size-m);
        }

        &.danger {
          color: var(--wa-color-danger-50);
        }
      }

      &:hover {
        > wa-icon {
          color: var(--wa-color-brand-60);
        }
      }
    }
  }

  &.danger {
    .start-icon {
      color: var(--wa-color-danger-60);
    }
  }

  &.warning {
    .start-icon {
      color: var(--wa-color-yellow-60);
    }
  }

  &.info {
    .start-icon {
      color: var(--wa-color-cyan-60);
    }
  }

  &.pending {
    .start-icon {
      color: var(--wa-color-neutral-95);
    }
  }

  &.progress {
    .start-icon {
      color: var(--wa-color-brand-60);
    }
  }

  &.done {
    .start-icon {
      color: var(--wa-color-success-60);
    }
  }

  &.viewable:not(.selected) {
    .label,
    .end {
      color: var(--wa-color-neutral-70);
    }
  }

  &.selected {
    .label {
      color: var(--wa-color-brand-70);

      wa-icon {
        color: var(--wa-color-brand-70);
      }
    }
  }
}
