#contents-root {
  background: var(--wa-color-neutral-20);
  padding: var(--wa-space-s) var(--wa-space-s);

  // --- Header ---
  .header {
    display: flex;

    color: var(--wa-color-neutral-95);
    font-size: var(--wa-font-size-m);
    font-weight: bold;

    .end {
      margin-left: auto;
    }

    wa-icon {
      cursor: pointer;
      font-size: var(--wa-font-size-l);

      &:hover {
        color: var(--wa-color-neutral-70);
      }
    }

    .toggleIcon {
      transform: rotate(-90deg); // デフォルト（閉じている状態）

      transition:
        transform 0.2s ease-in-out,
        color 0.2s;
    }
  }

  // --- Contents Area ---
  .contents {
    display: grid;
    grid-template-rows: 0fr;
    visibility: hidden;
    transition:
      grid-template-rows 0.3s ease-in-out,
      visibility 0.3s;

    .contents-inner {
      overflow: hidden;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;

      wa-divider {
        --spacing: var(--wa-space-xs);
        --color: var(--wa-color-neutral-50);
      }
    }
  }

  // --- Open State (Rootの状態に基づく変化を一括管理) ---
  &.open {
    .header .toggleIcon {
      transform: rotate(0); // 開いた時は回転を戻す
    }

    .contents {
      grid-template-rows: 1fr;
      visibility: visible;

      .contents-inner {
        opacity: 1;
      }
    }
  }
}
