:host,
*,
*::before,
*::after {
  box-sizing: border-box;
}

wa-input {
  &::part(base),
  &::part(input) {
    outline: none;
  }
}

wa-textarea {
  &::part(base),
  &::part(control),
  &::part(textarea) {
    outline: none;
  }
}

wa-select {
  &::part(combobox),
  &::part(form-control),
  &::part(form-control-input) {
    outline: none;
  }
}

$height-header: 30px;
$height-footer: 20px;

#contents-root {
  display: grid;
  grid-template-rows: $height-header 1fr $height-footer;
  height: 100vh;

  header {
    background: var(--wa-color-neutral-30);

    display: flex;
    align-items: center;
    justify-content: center;

    padding-block: var(--wa-space-s);
  }

  main {
    height: 100%;
    overflow: hidden;

    .app {
      display: block;
      height: 100%;
    }
  }

  footer {
    background: var(--wa-color-neutral-30);
    display: flex;
    align-items: center;

    .motto {
      font-size: var(--wa-font-size-xs);
      color: var(--wa-color-neutral-80);
      margin-inline-start: auto;
      margin-inline-end: var(--wa-space-2xs);
    }
  }
}
