@use "./ha_viewer.lit";

$id-width: 80px;
$name-width: 200px;
$row-height: 30px;

#contents-root {
  height: 100%;

  .card {
    grid-template-columns: $id-width $name-width 1fr;
    grid-template-rows: repeat(3, minmax($row-height, auto));
    grid-template-areas:
      "id name-kj div div"
      "id name-kn post post"
      "id name-kn mail-1 mail-2";

    .id {
      grid-area: id;
      text-align: center;
      span {
        justify-content: center;
      }
    }

    .name-kj {
      grid-area: name-kj;
      border-inline-start: 1px solid var(--wa-color-surface-border);
    }

    .name-kn {
      grid-area: name-kn;
      border-inline-start: 1px solid var(--wa-color-surface-border);
      font-size: var(--wa-font-size-xs);
    }

    .div {
      grid-area: div;
      border-inline-start: 1px solid var(--wa-color-surface-border);
      border-block-end: 1px solid var(--wa-color-surface-border);
    }

    .post {
      grid-area: post;
      border-inline-start: 1px solid var(--wa-color-surface-border);
      border-block-end: 1px solid var(--wa-color-surface-border);
    }

    .mail {
      &.mail-1 {
        grid-area: mail-1;
        border-inline-start: 1px solid var(--wa-color-surface-border);
      }

      &.mail-2 {
        grid-area: mail-2;
        border-inline-start: 1px solid var(--wa-color-surface-border);
      }
    }
  }
}
